/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  font-family: 'Nunito', sans-serif;
  color: #070707;
  font-size: 16px;
  line-height: 1.6875;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 599px) {
  .container {
    max-width: 598px;
    min-width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.slider-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 900px;
}
@media (max-width: 899px) {
  .slider-wrapper {
    width: auto;
    margin-bottom: 15px;
  }
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #87d1f0;
  padding: 50px 0;
}

.header {
  background-image: url(../img/bg/banner-black.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-grid {
  display: grid;
  margin-bottom: 50px;
  gap: 50px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 400px 300px;
  grid-template-areas: "nav1 nav1" "title2 author3" "banner4 banner4";
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
    gap: 25px 0px;
    grid-template-areas: "nav1" "title2" "author3" "banner4";
  }
}
@media (max-width: 599px) {
  .header-grid {
    display: block;
    margin-top: 80px;
  }
}

.title {
  grid-area: title2;
}

.author {
  grid-area: author3;
}

.banner {
  grid-area: banner4;
}

.header-box {
  /* Mobile XS */
}
@media (max-width: 599px) {
  .header-box {
    margin: 10px 0px;
  }
}

.nav {
  position: fixed;
  width: 1110px;
  padding: 0 5px;
  grid-area: nav1;
  border-radius: 10px;
  background-image: url(../img/bg/banner-black.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .nav {
    width: 875px;
  }
}
@media (max-width: 899px) {
  .nav {
    width: 100%;
    padding: 0 0;
  }
}
@media (max-width: 599px) {
  .nav {
    top: -10px;
  }
}

.nav__list {
  display: -webkit-box;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 1px solid #828282;
}
@media (max-width: 899px) {
  .nav__list {
    padding: 0 0;
    -webkit-box-align: center;
            align-items: center;
  }
}

.nav-mobile {
  display: none;
}

@media (max-width: 899px) {
  .nav-mobile {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    transition: all 0.2s ease-in;
  }
  .nav-mobile a {
    margin-top: 35px;
    font-size: 28px;
    color: #FFFFFF;
  }

  .nav-mobile.nav-mobile--active {
    top: 0;
    opacity: 0.95;
  }
}
.nav__item {
  margin: 4px 0;
  padding: 6px 12px;
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.2s ease-in;
}
.nav__item:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.497);
  transition: 0.2s ease-in;
}
@media (max-width: 899px) {
  .nav__item {
    margin: 5px 5px;
    padding: 0px 0px;
  }
  .nav__item:hover {
    box-shadow: none;
  }
}

.item-home {
  background-color: #0d6efd;
}
@media (max-width: 899px) {
  .item-home {
    display: none;
  }
}

.item-desc {
  background-color: #dc3545;
}
@media (max-width: 899px) {
  .item-desc {
    display: none;
  }
}

.item-skill {
  background-color: #28a745;
}
@media (max-width: 899px) {
  .item-skill {
    display: none;
  }
}

.item-portfolio {
  background-color: #ffc107;
  color: #070707;
}
@media (max-width: 899px) {
  .item-portfolio {
    display: none;
  }
}

.item-contact {
  background-color: #17a2b8;
}
@media (max-width: 899px) {
  .item-contact {
    display: none;
  }
}

.item-home-mobile {
  display: none;
}
@media (max-width: 899px) {
  .item-home-mobile {
    display: block;
  }
}

.item-menu {
  display: none;
}
@media (max-width: 899px) {
  .item-menu {
    display: block;
  }
}

.header-box.title {
  border-radius: 10px;
  background-color: rgba(255, 193, 5, 0.95);
}

.title {
  padding: 55px 20px;
}
@media (max-width: 899px) {
  .title {
    margin-top: 65px;
  }
}
@media (max-width: 599px) {
  .title {
    margin-top: 0;
    padding: 20px 0;
  }
}

.header-title-1 {
  margin-bottom: 60px;
  font-family: 'Nunito';
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  color: #070707;
}
@media (max-width: 1199px) {
  .header-title-1 {
    margin-bottom: 80px;
    font-size: 48px;
  }
}
@media (max-width: 899px) {
  .header-title-1 {
    margin-bottom: 45px;
    text-align: center;
    font-size: 60px;
  }
}
@media (max-width: 599px) {
  .header-title-1 {
    margin-bottom: 25px;
    font-size: 40px;
  }
}

.header-subtitle {
  margin-bottom: 20px;
  padding: 20px 0;
  font-family: 'Nunito';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #070707;
  border-top: 3px solid #17a2b8;
  border-bottom: 3px solid #17a2b8;
  border-radius: 15px;
}
@media (max-width: 1199px) {
  .header-subtitle {
    font-size: 17px;
  }
}
@media (max-width: 899px) {
  .header-subtitle {
    margin-bottom: 0;
    font-size: 20px;
    padding: 45px 48px;
    text-align: center;
  }
}
@media (max-width: 599px) {
  .header-subtitle {
    padding: 10px 10px;
    font-size: 15px;
  }
}

.header-box.author {
  border-radius: 10px;
  background-color: #ffffff;
}

.author-card {
  display: -webkit-box;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 10px;
  height: 190px;
  border-radius: 10px;
}

.author-text {
  width: 200px;
  margin-right: 10px;
  padding-top: 50px;
  padding-left: 14px;
  background-image: url(../img/bg/43035.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* Mobile XS */
}
.author-text h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  font-style: italic;
  color: #070707;
}
.author-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  font-style: italic;
  color: #070707;
}
@media (max-width: 599px) {
  .author-text p {
    font-size: 12px;
  }
}

.author-img {
  width: 200px;
  padding-top: 50px;
  padding-left: 20px;
  background-image: url(../img/bg/43037.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.author-img img {
  width: 125px;
}

.data-contact {
  margin-top: 5px;
}

.contacts-phone {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 3px;
  /* Mobile XS */
}
.contacts-phone span {
  position: relative;
  padding: 3px 35px;
  background: #dc3546fc;
}
.contacts-phone span::before {
  content: url(../img/icons/phone-call.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 3px;
  top: 5px;
}
@media (max-width: 599px) {
  .contacts-phone {
    font-size: 18px;
  }
}

.icon-social-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  /* Mobile XS */
}
.icon-social-row img {
  margin-left: 12px;
  width: 40px;
}
.icon-social-row img:hover {
  background-color: #ffc107;
  border-radius: 9px;
}
.icon-social-row p {
  padding: 5px 0;
}
@media (max-width: 599px) {
  .icon-social-row {
    font-size: 13px;
  }
  .icon-social-row img {
    width: 35px;
  }
}

.banner {
  margin-bottom: 50px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .banner {
    margin-bottom: 10px;
  }
}

.banner-img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}
@media (max-width: 899px) {
  .banner-img {
    height: auto;
  }
}

.nav-icon {
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 40px;
  height: 21px;
  cursor: pointer;
  /* Mobile */
}
@media (max-width: 899px) {
  .nav-icon {
    display: block;
    margin-right: 10px;
    padding-top: 10px;
  }
}

.nav-icon__middle {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #ffc107;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #ffc107;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.nav-icon__middle::before {
  top: -9px;
}
.nav-icon__middle::after {
  top: 9px;
}

/* Active state */
.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  background-color: #fff;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-desc {
  background-image: url(../img/bg/blog.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 15px 20px 10px rgba(253, 235, 144, 0.936);
}

.section-desc__content {
  margin-top: 90px;
  margin-bottom: 105px;
}

.section-desc__title {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.section-desc__text {
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  /* Mobile */
  /* Mobile XS */
}
.section-desc__text:not(:last-child) {
  margin-bottom: 45px;
}
@media (max-width: 899px) {
  .section-desc__text {
    font-size: 18px;
  }
}
@media (max-width: 599px) {
  .section-desc__text {
    font-size: 16px;
  }
}

.section-skills__title {
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.section-skills__subtitle {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  font-style: italic;
}

.section-skills__grid-icon-wrapper {
  display: grid;
  margin-top: 110px;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 65px;
}
@media (max-width: 899px) {
  .section-skills__grid-icon-wrapper {
    margin-top: 90px;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .section-skills__grid-icon-wrapper {
    margin-top: 70px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 12px;
  }
}

.icon {
  text-align: center;
}
.icon img {
  margin: 0 auto;
}

.img-skill {
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .img-skill {
    width: 80px;
  }
}
@media (max-width: 599px) {
  .img-skill {
    width: 60px;
  }
}

.section-portfolio {
  background-color: #F6F6F6;
}

.section-portfolio__content {
  margin-top: 75px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-portfolio__content {
    margin-top: 50px;
  }
}
@media (max-width: 599px) {
  .section-portfolio__content {
    margin-top: 25px;
  }
}

.section-portfolio__title {
  margin-bottom: 65px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.project {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}

.project__img {
  width: 500px;
  height: 335px;
  /* Mobile */
  /* Mobile XS */
}
.project__img img {
  height: 100%;
}
@media (max-width: 899px) {
  .project__img {
    width: 415px;
    height: 265px;
  }
}
@media (max-width: 599px) {
  .project__img {
    width: 320px;
    height: 220px;
  }
}

.project__text {
  padding-top: 65px;
  font-style: italic;
}
@media (max-width: 1199px) {
  .project__text {
    padding-top: 30px;
  }
}

.footer {
  background-image: url(../img/bg/banner-black.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-row {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.footer-form {
  width: 300px;
  color: #FFFFFF;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .footer-form {
    width: 206px;
  }
}

.email-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  /* Mobile */
  /* Mobile XS */
}
.email-link span {
  margin-left: 7px;
}
@media (max-width: 899px) {
  .email-link {
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .email-link {
    font-size: 12px;
  }
}

.footer-text {
  margin-bottom: 7px;
  color: #FFFFFF;
}
@media (max-width: 899px) {
  .footer-text {
    font-size: 13px;
  }
}

.footer-icons {
  width: 300px;
}
@media (max-width: 899px) {
  .footer-icons {
    width: 200px;
  }
}

.icons-row {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.icons {
  width: 38px;
}
@media (max-width: 899px) {
  .icons {
    width: 24px;
  }
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #ffc107;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffc107;
}

/*# sourceMappingURL=main.css.map */