.footer {
    background-image: url(../img/bg/banner-black.png); 
    background-repeat: no-repeat;
    background-size: cover; 
}

.footer-row {
    display: flex;
    justify-content: space-around;
}

.footer-form {
    width: 300px;
    color: #FFFFFF;
    
    /* Mobile XS */
    @media (max-width: 599px) {
        width: 206px;
    }
}

.email-link {
    display: flex;
    justify-content: center;
    align-items: center;    

    span {
        margin-left: 7px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 14px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 12px;
    }
}

.footer-text {
    margin-bottom: 7px;
    color: #FFFFFF;

    @media (max-width: 899px) {
        font-size: 13px; 
    }
}

.footer-icons {
    width: 300px;
    
    @media (max-width: 899px) {
        width: 200px; 
    }
}

.icons-row {
    display: flex;
    justify-content: space-around;
}

.icons {
    width: 40px;

    @media (max-width: 899px) {
        width: 24px; 
    }
}

