.section-portfolio {
    background-color: #F6F6F6;
}

.section-portfolio__content {
    margin-top: 75px;

    /* Mobile */
    @media (max-width: 899px) {
        margin-top: 50px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-top: 25px;
    }
}

.section-portfolio__title {
    margin-bottom: 65px;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.project {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;

    @media (max-width: 1199px) {
        flex-direction: column;
        align-items: center;	
    }

    /* Mobile */
    @media (max-width: 899px) {
        
    }

    /* Mobile XS */
    @media (max-width: 599px) {
       
    }

    
}

.project__img {
    width: 500px;
    height: 335px;
       
    img {
        // overflow: hidden;
        height: 100%;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 415px;
        height: 265px;         
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 320px;
        height: 220px;     
    }
}

.project__text {
    padding-top: 65px;
    font-style: italic;

    @media (max-width: 1199px) {
        padding-top: 30px;	
    }
}