.section-portfolio {
    background-color: #F6F6F6;
}

.section-portfolio__content {
    margin-top: 90px;

    /* Mobile */
    @media (max-width: 899px) {
        margin-top: 50px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-top: 25px;
    }
}

.section-portfolio__title {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}